/* =============
    Typography
============= */
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Ribeye&display=swap');

/* ==========
    Global
=========== */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    /*overflow-x: hidden;*/
    font-family: "Ribeye", sans-serif;
}

figcaption {
    display: none;
}

header {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: 1fr auto 1fr;
    background-color: #F4F9F9;
}

header figure {
    display: none;
}

ul li {
    list-style-type: none;
    text-align: center;
}

main {
    display: grid;
    background-color: #F1D1D0;
}

section {
    display: grid;
}

/* ===============
    Header style
=============== */

header {
    background: rgb(249, 217, 177);
    background: radial-gradient(circle, rgba(249, 217, 177, 1) 0%, rgba(249, 150, 184, 0.6890465658919818) 89%);
    background-size: 300% 300%;
    animation: gradient 15s ease infinite;
    -webkit-box-shadow: 0px 6px 18px 13px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 6px 18px 13px rgba(0, 0, 0, 0.38);
}

@keyframes gradient {
    0% {
        background-position: 50%;
        background-size: 300%;
    }

    50% {
        background-position: 50%;
        background-size: 75%;
    }

    100% {
        background-position: 50%;
        background-size: 300%;
    }
}

header h1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
    margin: 50px 0 50px 0;
    font-family: 'Clicker Script', sans-serif;
    font-size: 60px;
    color: #F875AA;
    padding-left: 10%;
}

nav {
    grid-column: 1/4;
    margin-right: 10%;
}

footer {
    background-color: #F4F9F9;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons2 {
    margin: 10px;
    padding: 10px;
}

.navbarNav {
    justify-self: end;
}

#standingOne {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: end;
    align-self: center;
}

#bigClick {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: none;
    border: none;
    justify-self: center;
    transition: 0.3s;
    background-image: url("../assets/images/heart.svg");
    width: 400px;
    height: 400px;
    background-size: contain;
}

#bigClick object {
    width: 75%;
    min-width: 300px;
}

#bigClick:hover {
    transform: scale(1.03)
}

#bigClick:active {
    transform: translateY(4px);
}

#bigClick:focus {
    outline: 0;
}

#standingTwo {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: start;
    transform: scaleX(-1);
    align-self: center;
}

#questionLine {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    font-family: 'Ribeye', sans-serif;
    font-size: 35px;
    margin: 10px;
    text-align: center;
    color: white;
}

#CookieCount {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    margin: 50px 0 50px 0;
    width: fit-content;
    height: fit-content;
    background-color: #F875AA;
    font-family: 'Ribeye', sans-serif;
    font-size: 35px;
    color: white;
    justify-self: center;
    padding: 15px;
    text-align: center;
}

/* ============
    Main style
============= */

#mainTitle {
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 30px 0 30px 0;
}

.buttons_wrapper {
    display: grid;
}

.boutons_cadeaux {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto 1fr auto;
    margin: 15px 30px 15px 30px;
    border: none;
    background-color: #FBACCC;
    -webkit-box-shadow: -2px 0px 34px 5px rgba(109, 109, 109, 0.21);
    box-shadow: -2px 0px 34px 5px rgba(109, 109, 109, 0.21);
    transition: 0.2s;
    padding: 10px;
    color: #F4F9F9;
    border-radius: 10px;
}

.boutons_cadeaux:hover {
    transform: scale(1.03)
}

.boutons_cadeaux:active {
    border: none;
    background-color: #F875AA;
    transform: translateY(4px);
}

.boutons_cadeaux:focus {
    outline: 0;
}

.boutons_cadeaux:disabled {
    background-color: #c1849c;
}

.button_image {
    width: 100px;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    justify-self: center;
}

.positionTitle {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    align-self: center;
    font-size: 30px;
}

.positionProd {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: center;
}

.positionLevel {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    align-self: center;
}

.positionPrix {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    align-self: center;
}

#bonus h3 {
    grid-row: 1 / 4;
    justify-self: center;
}

/* ===============
    Statistiques
=============== */

#stats {
    color: white;
    background-color: #FBACCC;
    margin: 0 25px 0 25px;
    padding: 50px;
    font-size: 25px;
    border-radius: 25px;
    border: 3px dashed #F4F9F9;
}

/* ===============
    Media Queries
================ */

@media only screen and (min-width:768px) {
    header figure {
        display: grid;
    }

    #standingOne {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        justify-self: end;
        align-self: center;
    }

    #standingTwo {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        justify-self: start;
        transform: scaleX(-1);
        align-self: center;
    }

    #questionLine {
        grid-column: 1 / 4;
    }

    p {
        font-size: 20px;
    }

    .boutons_cadeaux {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto 1fr auto;
    }

    .button_image {
        width: 100px;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        justify-self: center;
    }

    .positionTitle {
        grid-row: 1 / 2;
        grid-column: 1 / 5;
        align-self: center;
        font-size: 30px;
    }

    .positionProd {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        align-self: center;
    }

    .positionLevel {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
        align-self: center;
    }

    .positionPrix {
        grid-row: 2 / 3;
        grid-column: 4 / 5;
        align-self: center;
    }


}

@media only screen and (min-width : 1200px) {

    main {
        grid-template-columns: 0.5fr auto;
        grid-template-rows: auto auto auto 30px;
    }

    p {
        font-size: 15px;
    }

    #mainTitle {
        grid-column: 2 / 3;
        justify-self: center;
    }

    #stats {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        justify-self: center;
    }

    .buttons_wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-row: 2 / 3;
    }

    #click {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    #bonus {
        grid-column: 3 / 5;
        grid-row: 1 / 2;

    }

    #choc {
        grid-column: 1 /3;
        grid-row: 2 / 3;
    }

    #fleur {
        grid-column: 3 / 5;
        grid-row: 2 / 3;
    }

    #resto {
        grid-column: 1 /3;
        grid-row: 3 / 4;
    }

    #bijou {
        grid-column: 3 / 5;
        grid-row: 3 / 4;
    }

    #animal {
        grid-column: 1 /3;
        grid-row: 4 / 5;
    }

    #voyage {
        grid-column: 3 / 5;
        grid-row: 4 / 5;
    }

    #mariage {
        grid-column: 1 /3;
        grid-row: 5 / 6;
    }

    #enfant {
        grid-column: 3 / 5;
        grid-row: 5 / 6;
    }



    .boutons_cadeaux {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto 1fr auto;
    }

    .button_image {
        width: 100px;
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        justify-self: center;
    }

    .positionTitle {
        grid-row: 1 / 2;
        grid-column: 1 / 5;
        align-self: center;
        font-size: 30px;
    }

    .positionProd {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        align-self: center;
    }

    .positionLevel {
        grid-row: 2 / 3;
        grid-column: 4 / 5;
        align-self: center;
    }

    .positionPrix {
        grid-row: 3 / 4;
        grid-column: 4 / 5;
        align-self: center;
    }
}